.history{ 
    grid-column: 1/11;
    &__title{
        grid-column: 1/3;
        font-size: 2rem;
        text-align: center;
    }
    &__offline{
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 5rem;
      
    }
}